#shadow {
  box-shadow: 0px -4px 15px 0px rgba(0, 0, 0, 0.15);
}
.ig {
  background-color: #1c1c1c;
  color: #ffffff;
  font-size: 50px;
}
.tt {
  background-color: #1c1c1c;
  color: #ffffff;
  font-size: 50px;
}
.li {
  background-color: #1c1c1c;
  color: #ffffff;
  font-size: 50px;
}
