@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.yskil {
  background: linear-gradient(90deg, #19c6c2 70.32%, #8a3dff 75.53%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  line-height: normal;
}
.txtpla {
  margin-top: -32pc;
}
.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.absolute-center-3 {
  position: absolute;
  top: 50%;
  left: 55.5%;
  transform: translate(-50%, -50%);
}
.custom-svg {
  z-index: 1;
  position: relative;
}
.responsive-text {
  word-spacing: 1px;
}
.search-section {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  align-items: center;
  position: relative;
}
.search-input-wrapper {
  display: flex;
  align-items: center;
  background-color: #181823;
  border: 2px solid #ddd;
  border-radius: 25px;
  padding: 5px 5px;
}
.dropdown-toggle {
  border: 2px solid #ddd;
  border-radius: 25px;
  padding: 19px 19px;
  width: 110%;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 25px;
  color: white;
}
.dropdown-icon {
  position: absolute;
  right: -2%;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
.dropdown-menu {
  position: absolute;
  top: 110%;
  padding: 5px;
  width: 190%;
  background-color: #181823;
}
.dropdown-menu li {
  position: relative;
  padding: 10px 20px;
  cursor: pointer;
  color: #ddd;
  font-size: 23px;
  width: 100%;
}
.dropdown-menu li::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 24px;
  box-shadow: 0 0 0 2px transparent;
  z-index: -1;
}
.dropdown-menu li:not(:last-child) {
  border-bottom: none;
}
.dropdown-item:hover {
  color: transparent;
  background-image: linear-gradient(to right, #4fd1c5, #a06bfa);
  -webkit-background-clip: text;
  background-clip: text;
}
.tittle {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  background: var(
    --Gradient,
    linear-gradient(101deg, #19c6c2 -5.55%, #8a3dff 49.48%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-outline {
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #4fd1c5, #a06bfa) 1;
}
.btn-outline:hover {
  border-image: linear-gradient(to right, #4fd1c5, #a06bfa);
  border-image-slice: 1;
  border: none;
  background-image: linear-gradient(to right, #4fd1c5, #a06bfa);
  color: white;
}
.gradient-text {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: transparent;
  background-image: linear-gradient(to right, #4fd1c5, #a06bfa);
  -webkit-background-clip: text;
  background-clip: text;
}
.gradient-text:hover {
  color: #fff;
}
.card {
  border: 1px solid white;
}
